body{
    background-color: #222831;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1248px;
}

/* Header */

.navbar{
    padding: 48px 0;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.navbar-nav{
    display: flex;
    column-gap: 48px;
}
.nav-link{
    font-size: 18px;
    color: #EEEEEE;
}
.nav-link:hover{
    color: #EEEEEE;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #EEEEEE;
}

/* Banner */

.banner_wrapper{
    display: flex;
    column-gap: 48px;
    position: relative;
    display: flex;
}
.banner_content{
    margin-top: 39px;
}
.banner_content h1{
    font-size: 96px;
    color: #eeeeee;
    line-height: 96px;
    font-weight: 700;
}
.banner_content h1 span{
    color: #00adb5;
}
.banner_content img{
    position: absolute;
    left: 72px;
    top: 253px;
}