body{
    background-color: #222831;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1248px;
}
.btn_wrapper{
    margin-top: 48px;
    display: flex;
    column-gap: 24px;
}
.btn_1{
    background-color: #00adb5;
    padding: 10px 32px;
    color: #EEEEEE;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 18px;
    border-radius: 24px;
    text-decoration: none;
}
.btn_2{
    font-weight: 700;
    font-size: 18px;
    color: #EEEEEE;
    background-color: rgba(57, 62, 70, 0.75);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    padding: 10px 32px;
    text-decoration: none;
}
p{
    font-size: 18px;
    color: rgba(238, 238, 238, 0.75);
    font-weight: 400;
}
h2{
    font-size: 64px;
    color: #eeeeee;
    font-weight: 700;
}
.title_split{
    color: #00adb5;
}

/* Header */

.navbar{
    padding: 48px 0;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.navbar-nav{
    display: flex;
    column-gap: 48px;color: rgba(238, 238, 238, 0.75);
}
.nav-link{
    font-size: 18px;
    color: #EEEEEE;
}
.nav-link:hover{
    color: #EEEEEE;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #EEEEEE;
}

/* Banner */

.banner{
    position: relative;
    padding: 172px 0 74px 0;
}
.banner_wrapper{
    column-gap: 48px;
    display: flex;
    justify-content: space-between;

}
.banner_content{
    margin-top: 39px;
}
.banner_content h1{
    font-size: 96px;
    color: #eeeeee;
    line-height: 96px;
    font-weight: 700;
}
.banner_content img{
    position: absolute;
    left: 72px;
    top: 253px;
}

/* About */

.about{
    position: relative;
    padding: 230px 0 201px 0;
}
.about_wrapper{
    display: flex;
    justify-content: space-between;
}
.about_content{
    margin-top: 26px;
}
.about_content p{
    width: 389px;
    margin: 0;
}
#more {
    display: none;
}
#readBtn {
    background: none;
    border: none;
    color: #EEEEEE;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
}
#readBtn:hover {
    color: #00bcd4;
}
.about_wrapper > img{
    position: absolute;
    z-index: -1;
}
.about_wrapper .music_vector{
    top: 135px;
    left: 96px;
}
.about_wrapper .arrow_vector{
    left: 257px;
    bottom: 223px;
}
.about_wrapper .light_vector{
    top: 247px;
    left: 490px;
}

/* My Recent Works */

.works{
    padding: 268px 0;
}

/* Contact */

.contact{
    padding: 258px 0;
    position: relative;
}
.contact_wrapper{
    display: flex;
    justify-content: space-between;
}
.contact_content{
    width: 600px;
}
.contact_form{
    width: 600px;
}
.contact_form .name_email{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.contact_form form label{
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.contact_form form input,
.contact_form form textarea{
    background-color: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    padding: 16px 0 16px 24px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: rgba(238, 238, 238, 0.5);
    border: none;
}
.contact_form form input:focus,
.contact_form form textarea:focus{
    outline: none;
}
.contact_form form textarea{
    height: 280px;
}
.contact_form form .submit{
    background-color: #00adb5;
    padding: 10px 32px;
    color: #EEEEEE;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 18px;
    border-radius: 24px;
    border: none;
    width: fit-content;
    margin-top: 34px;
}
.contact_wrapper .keyboard_vector{
    position: absolute;
    top: 60px;
    right: 467px;
}